<template>
  <div>
    <div class="modal-body">
      <form @submit.prevent="sendMessage" role="form" class="form-horizontal">
        <div class="row mt-1">
          <span
            >Folder Sharing
            <toggle-button
              @change="onChangeEventHandler"
              :labels="{ checked: 'On', unchecked: 'Off' }"
              v-model="switch_val"
              color="#82C7EB"
              :sync="true"
            />
            Mailing</span
          >
        </div>
        <div class="row g-3 align-items-center mt-1">
          <div class="col-2 d-grid pe-0">
            <button type="button" class="btn btn-primary webmail-label-btn">
              Local Folder <i class="fa fa-user-plus"></i>
            </button>
          </div>
          <div class="col-8 ps-0">
            <multiselect
              v-model="value"
              :options="options"
              :multiple="true"
            ></multiselect>
          </div>
          <div class="col-2 d-grid">
            <button type="button" class="btn btn-danger">Empty</button>
          </div>
        </div>

        <div class="row g-3 align-items-center mt-1">
          <div class="col-3 d-grid pe-0">
            <button type="button" class="btn btn-primary webmail-label-btn">
              Remote Write Access <i class="fa fa-user-plus"></i>
            </button>
          </div>
          <div class="col-7 ps-0">
            <multiselect
              v-model="value"
              :options="options"
              :multiple="true"
            ></multiselect>
          </div>
          <div class="col-2 d-grid">
            <button type="button" class="btn btn-danger">Empty</button>
          </div>
        </div>

        <div class="row g-3 align-items-center mt-1">
          <div class="col-3 d-grid pe-0">
            <button type="button" class="btn btn-primary webmail-label-btn">
              Remote Read Access <i class="fa fa-user-plus"></i>
            </button>
          </div>
          <div class="col-7 ps-0">
            <multiselect
              v-model="value"
              :options="options"
              :multiple="true"
            ></multiselect>
          </div>
          <div class="col-2 d-grid">
            <button type="button" class="btn btn-danger">Empty</button>
          </div>
        </div>
        <!-- <form @submit.prevent="sendMessage" role="form" class="form-horizontal"> -->
        <div class="row g-3 align-items-center mt-1">
          <div class="col-2 d-grid">
            <button type="button" class="btn btn-primary webmail-label-btn">
              Subject <i class="fa fa-user-plus"></i>
            </button>
          </div>
          <div class="col-8">
            <input
              type="text"
              v-model="message.subject"
              id="subject"
              class="form-control"
            />
          </div>
        </div>

        <!-- <div class="form-group">
          <label class="col-lg-2 control-label" for="subject">Subject</label>
          <div class="col-lg-10">
            <input
              type="text"
              v-model="message.subject"
              id="subject"
              class="form-control"
            />
          </div>
        </div> -->

        <div class="form-group mt-4">
          <!-- <label class="col-lg-2 control-label" for="message">Message</label> -->
          <div class="col-lg-10">
            <!-- <textarea
              v-model="message.content"
              rows="10"
              cols="30"
              class="form-control"
              id="message"
            ></textarea> -->
             <vue-editor v-model="message.content"></vue-editor>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-send" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { eventBus } from "./main";
import Multiselect from "vue-multiselect";
import { ToggleButton } from "vue-js-toggle-button";
import { VueEditor } from "vue2-editor";
// register globally
//   Vue.component('multiselect', Multiselect)

export default {
  components: { Multiselect, ToggleButton, VueEditor },
  data() {
    return {
      message: {
        subject: "",
        content: "",
      },
      value: null,
      switch_val: null,
      options: ["list", "of", "options"],
    };
  },
  methods: {
    sendMessage() {
      eventBus.$emit("sentMessage", {
        message: {
          subject: this.message.subject,
          content: this.message.content,
          isDeleted: false,
          type: "outgoing",
          date: moment(),
          from: {
            name: "Bo Andersen",
            email: "info@codingexplained.com",
          },
          attachments: [],
        },
      });
    },
    onChangeEventHandler() {
      alert("hi");
    },
  },
};
</script>
<style src="../node_modules/vue-multiselect/dist/vue-multiselect.min.css"></style>